* {
    box-sizing: border-box;
}

html,
body {
    font-size: 30px;
}

.container {
    background: white;
    height: 100vh;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.box {
    letter-spacing: 0.05em;
    width: 30vw;
    height: 30vh;
    border: solid 3px black;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hex {
    background-color: #ff1493;
}

.keyword {
    background-color: deeppink;
}

.rgb {
    background-color: rgb(255, 20, 147);
}

.rgb > span {
    white-space: nowrap;
}

